.video-app {
  margin-top:20px;
  margin-bottom:20px;

  img {
    max-width: 100%;
    height: auto;
  }

  .search-area {
    margin-bottom: 40px;
  }

  .video-list {
    li {
      cursor: pointer;
    }
  }
}