.video-app {
  margin-top:20px;
  margin-bottom:20px;

  img {
    max-width: 100%;
    height: auto;
  }

  .search-area {
    margin-bottom: 40px;
  }

  .video-list {
    li {
      cursor: pointer;
    }
  }
  
  .pager {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      min-width: 60px;

      &:not([disabled]) {
        cursor: pointer;
      }
    }
  }

  .video-detail {
    .head {
      margin-top: 20px;
    }

    .description {
      margin-top: 20px;
      font-size: 0.9em;
    }

    .showmore-btn {
      width: 100%;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}