@import 'loading';

$primary-color: #111111;
$secondary-color: rgba($primary-color, 0.7);

body {
  color: rgba($primary-color, 0.9);
}

.hide {
  display: none!important;
}

#app {
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-app {

  .loading-wrapper {
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

    svg {
      width: 200px;
      height:auto;
    }
  }

  img {
    height: auto;
  }

  .search-area {
    margin-bottom: 40px;
  }

  .video-container {
    min-height: 300px;
  }

  .video-list-wrapper,
  .video-detail-wrapper {
    position: relative;
  }

  .video-list {
    font-size: 0.9em;
    color: $secondary-color;

    li {
      cursor: pointer;
      transition: all 0.4s;
    }

    .video-title {
      font-size: 1em;
      font-weight: 600;
      line-height: 1.4;
    }

    .channel-name,
    .video-view-number {
      margin-top: 5px;
      font-size: 0.8em;
    }
  }

  .video-order {
    margin-bottom: 10px;

    button {
      margin-right: 10px;
      cursor: pointer;
    }
  }
  
  .pager {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      min-width: 60px;

      &:not([disabled]) {
        cursor: pointer;
      }
    }
  }

  .video-detail {
    .head {
      margin-top: 20px;
      color: rgba($primary-color, 0.9);
    }

    .description {
      margin-top: 20px;
      font-size: 0.9em;

      p {
        word-break: break-word;
      }
    }

    .showmore-btn {
      width: 100%;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  .video-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 0.9em;


    .channel-info {
      align-items: center;
      color: $secondary-color;

      img {
        width: 30px;
        height: auto;
        align-self: center;
        border-radius: 100%;
      }
    }

    .view-info {
      color: $secondary-color;
    }
  }
}